* {
  box-sizing: border-box;
}
.hover-content {
  padding: 10px;
  box-shadow: 0 2px 20px rgba(0,0,0,0.2);
  box-sizing: border-box;
  background-color: #fff;
  width: 350px;
}

[data-hover-wrapper] {
  transition: opacity .3s, transform .3s;
}

.text-justify {
	text-align: justify;
}

.wiki-card--vertical {
	max-width: 40em;
}

.wiki-card--vertical .card-image img{
	height: 15em;
	width: 11em!important;
	background-size: cover;
	background-position: center;
}

.wiki-card--vertical .card-stacked{
	width: 24.5em;
}

.wiki-card--vertical .card-stacked .card-content p {
	overflow: hidden;
	position: relative; 
	line-height: 1.4em;
	max-height: 11em; 
	text-align: justify;  
	margin-right: -1em;
	padding-right: 1em;
}

.wiki-card--vertical .card-stacked .card-content p:before {
	content: '...';
	position: absolute;
	right: 0;
	bottom: 0;
}

.wiki-card--vertical .card-stacked .card-content p:after {
	content: '';
	position: absolute;
	right: 0;
	width: 1em;
	height: 1em;
	margin-top: 0.2em;
}

.wiki-card--horizontal{
	max-width: 22em;
}
.wiki-card--horizontal .card-image img{
	max-height: 12em!important;
	width: 22em!important;
	background-size: cover;
	background-position: center;
}

.wiki-card--horizontal .card-content p {
	overflow: hidden;
	position: relative; 
	line-height: 1.4em;
	max-height: 12em!important; 
	text-align: justify;  
	margin-right: -1em;
	padding-right: 1em;
}

.wiki-card--horizontal .card-content p:before {
	content: '...';
	position: absolute;
	right: 0;
	bottom: 0;
}

.wiki-card--horizontal .card-content p:after {
	content: '';
	position: absolute;
	right: 0;
	width: 1em;
	height: 1em;
	margin-top: 0.2em;
}